@page "/"


<div class=" container mt-3 card shadow-lg col-8">
    <div class="col-xl text-center  ">
        <div class="card-header font-weight-bold">

            <h3 style="font-style:@headingFontStyle " >  Bienvenidos</h3>
        </div>
    </div>

    <div class="card-body">
              
        <div>

            <h3 style="font-style:@headingFontStyle ">

                 Gracias por preferirnos para una experiencia mas a menas.
                Los invito a registrarse para una mejor experiencia muchas gracia y que disfrute de nuestro juego.
            </h3>

            

        </div>


    </div>
</div>

@code {
    private string headingFontStyle = "italic";

}