@page "/intrusiones"


<div class=" container mt-3 card shadow-lg col-9">
    
    <div class="col-xl text-center  ">
        <div class="card-header">
            <h1>Intrusiones</h1>
        </div>
    </div>

    <div class="card-body">

        <h2>¿Como se juega?</h2>
        <p>
            ☀️ El juego se basa en hacer  match con una pareja de emojis de animalitos 🐢🐢, cuando hallas encontrado cada pareja el tiempo se detendra y te dice
            el tiempo que tardaste en encontrar todas las parejas  y la cantidad de parejas encontradas esto por cada nivel hasta que pases por los 4 niveles del juego, donde en el 
            top del juego veras los puntos totales y el tiempo total de todos los niveles.
        </p>
        <p>
            ☀️Tenemos un apartado de Ranking de jugadores en el que puedes observar en que lugar quedaste.
        </p>
        <p>
            ☀️Para poder visualizar tu puntaje en nuestro apartado de Ranking no es necesario estar registrado pero si es necesario si quiere registrar su punto y tiempo.
        </p>
        <p>
            ☀️ Otros de nuestro apartados es el de nososotro en el que puedes observaras los desarrolladores  del juego.
        </p>
        <h2> ¿Como puedo quedar en primer lugar?  </h2>
        <p>
            Para poder ser el numero 1 en el ranking debo de tener el mejor puntaje y ser el mas veloz, a continuacion estara  a cuantos puntos equivale el tiempo
            que dures:
        </p>
        <p>☀️si terminas el juego en 5 segundo tendras un total de 125 puntos. </p>
        <p>☀️si terminas el juego en 10 segundo tendras un total de 100 puntos. </p>
        <p>☀️si terminas el juego en 15 segundo tendras un total de 75 puntos. </p>
        <p>☀️si terminas el juego en 20 segundo tendras un total de 50 puntos. </p>
        <p>☀️si terminas el juego en un tiempo mayor a 20 segundos tendras un total de 25 puntos. </p>

        <h2> Importante </h2>
        <p class="alert-danger" >Para guardar su Puntaje debe de esta registrado y logueado en la pagina, de lo contrario no podra guardar sus puntos.</p>
        <a>

        </a>
    </div> 

</div>