@page "/intrusiones"


<div class=" container mt-3 card shadow-lg col-9">
    
    <div class="col-xl text-center  ">
        <div class="card-header">
            <h1>Intrusiones</h1>
        </div>
    </div>

      <div class="card-body">
             
          <h2>¿Como se juega?</h2>
          <p>
              ☀️ El juego se basa en hacer  match con una pareja de animalitos 🐢🐢, cuando hallas en contrado cada pareja termina el tiempo y te dice
              el tiempo y cuantas parejas encontradas.
          </p>
          <p>
              ☀️Tenemos un apartado que de llama Ranking de jugadores en el cual puedes obserbar en que lugar quedaste.
          </p>
          <p>
              ☀️ Otros de nuestro apartados es el de nosossotro el cual observaras las personas que trabajaron en el juego.
          </p>
          <h2> ¿Como puedo quedar en primer lugar?  </h2>
          <p>Para poder ser el numero en el ranking debo de tener el mejor tiempo y ser el mas veloz a continuacion estara el a cuantos puntos equivale el tiempo 
          que dures:</p>
          <a>
             
          </a>
      </div> 

</div>