@page "/Nosotros"

<div class=" container mt-3 card shadow-lg col-9">
    <div class="col-xl text-center  ">
        <div class="card-header">
            <h3>Integrantes</h3>
        </div>
    </div>

    <div class="card-body">

        @*Integrante1*@
        <div class="foto1">
            <img src="/Imagenes/Albenny.jpg" asp-append-version="true" width="200" class="img-circulo " />
            <h6 class="text-primary" style="position: absolute; top: 280px; left: 110px;">Albenny Hernandez Cruz</h6>
        </div>

        @*Integrante2*@
        <div class="foto2">
            <img src="/Imagenes/Escarolin2.jpg" asp-append-version="true" class="img-circulo" width="100" height="150" />
            <h6 class="text-primary" style="position: absolute; top: 280px; left: 670px;">Escarolin Ventura Polanco</h6>
        </div>

        @*Integrante3*@
        <div class="foto3">
            <img src="/Imagenes/Jordy.jpg" asp-append-version="true" class="img-circulo" width="100" height="150" />
            <h6 class="text-primary" style="position: absolute; top: 490px; left: 630px;">Jordy Anderson Celestino Mendoza</h6>
        </div>

        @*Integrante4*@
        <div class="foto4">
            <img src="/Imagenes/Raldy.jpg" asp-append-version="true" class="img-circulo" width="100" height="150" />
            <h6 class="text-primary" style="position: absolute; top: 490px; left: 110px;">Raldy Steven Lopez Gilbert</h6>
        </div>

        @*Integrante5*@
        <div class="foto5">
            <img src="/Imagenes/Jery.jpg" asp-append-version="true" class="img-circulo" width="100" height="150" />
            <h6 class="text-primary" style="position: absolute; top: 390px; left: 400px;">Jery Javier Siri Mena</h6>
        </div>
        @*style="font-style:@headingFontStyle "*@

    </div>
</div>

@code {
    private string headingFontStyle = "italic";
    
}
