@page "/Ranking"

@using Models;
@using ProyectoFinalAplicada2.BLL;
@inject RankingUsuariosBLL RankingBLL;

<div class="card-header">

    <h3 class="text-center">Ranking De Los Mejores Jugadores</h3>

</div>

<div class="card-body">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Puesto</th>
                <th scope="col">Jugador</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Tiempo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rankingUsuario in RankingUsuarios)
            {
                <tr>
                    <td>@PuntosAumentados()</td>
                    <td>@rankingUsuario.Nombre</td>
                    <td>@rankingUsuario.puntos</td>
                    <td>@rankingUsuario.tiempo Segundos</td>


                </tr>

            }

        </tbody>
    </table>

</div>

@code {
    public List<RankingUsuarios> RankingUsuarios = new List<RankingUsuarios>();

    int puesto = 1;

    protected override void OnInitialized()
    {
        RankingUsuarios = new List<RankingUsuarios>();
        RankingUsuarios = RankingBLL.ObtenerListaRankingOrganizada();

    }

    public int PuntosAumentados()
    {
        return puesto++;
    }
}
