<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">

        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class=" nav-link">
                    <li class="nav-item">
                        <a class=" navbar-brand" href="">
                            <span class="oi oi-home" aria-hidden="true"></span> Inicio
                        </a>
                    </li>
                </li>
                <li class=" nav-link">
                    <li class="nav-item">
                        <a class=" navbar-brand " href="AnimalesGame">
                            <span class="oi oi-play-circle" aria-hidden="true"></span> Juegos de Emojis
                        </a>

                    </li>
                </li>



                <li class="nav-item">
                    <a class=" navbar-brand" href="Ranking">
                        <span class="oi oi-project" aria-hidden="true"></span> Ranking de Jugadores
                    </a>
                </li>


                <li class="nav-item">
                    <a class=" navbar-brand" href="Nosotros">
                        <span style="float:left" class="oi oi-people " aria-hidden="true"></span> Nosotros
                    </a>

                </li>

                <li class="col-10">
                    <LoginDisplay />
                </li>


            </ul>
        </div>
    </div>
</nav>

@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Menú</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AnimalesGame">
                    <span class="oi oi-plus" aria-hidden="true"></span> Juegos De Emojis
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Ranking">
                    <span class="oi oi-project" aria-hidden="true"></span> Ranking De Jugadores
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Nosotros">
                    <span class="oi oi-people" aria-hidden="true"></span> Nosotros
                </NavLink>
            </li>

        </ul>
    </div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
